body{
	background:url(backgroundLogin.jpg);
}
div{
	margin-left: 50px;
}
#form1{
	background: #333333;
	width:300px;
	height: 180px;
	border:1px solid #4e4d4d;
	border-radius:9px;
	box-shadow:inset 0 0 10px #000;
	margin: 100px auto;
}
label{
	margin-left: 15px;
	color: #F3E8EC;
}
#user{
	margin-top: 30px;
	margin-left: 30px;
	height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}
#pass{
	margin-top: 30px;
	margin-left: 7px;
	height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}
#enviar_btn{
	margin-top: 30px;
	margin-left: 100px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}
#mod{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
label{
	margin-left: 15px;
	color: #F3E8EC;
}
#userr{
	margin-top: 30px;
	margin-left: 30px;
	height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}
#passs{
	margin-top: 30px;
	margin-left: 7px;
	height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}
#enviar_btnn{
	margin-top: 30px;
	margin-left: 30px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    border-radius:3px;
}

